<!DOCTYPE html>
<html>
<head>
  <title>Aristotle</title>
  <%= stylesheet_link_tag    "aristotle/application", media: "all" %>
  <%= javascript_include_tag "aristotle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
